@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Iowan Old Style";
  src: url("https://db.onlinewebfonts.com/t/105522e6f4e63f17e4ea721f353925de.eot");
  src: url("https://db.onlinewebfonts.com/t/105522e6f4e63f17e4ea721f353925de.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/105522e6f4e63f17e4ea721f353925de.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/105522e6f4e63f17e4ea721f353925de.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/105522e6f4e63f17e4ea721f353925de.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/105522e6f4e63f17e4ea721f353925de.svg#Iowan Old Style")
      format("svg");
}

@theme inline {
  --font-iowan: "Iowan Old Style";
}
